<div class="container" > 
  <div class="image-cont">
      <img src="assets/images/croquis_fime2.jpg" alt="">
  <a (click)="openModal(0)" id="twfive_element"><p></p></a> 
  <a (click)="openModal(1)" id="first_element"><p></p></a>
  <a (click)="openModal(2)" id="second_element"><p></p></a>
  <a (click)="openModal(3)" id="third_element"><p></p></a>
  <a (click)="openModal(4)" id="fourth_element"><p></p></a>
  <a (click)="openModal(5)" id="five_element"><p></p></a>
  <a (click)="openModal(6)" id="six_element"><p></p></a>
  <a (click)="openModal(7)" id="seve_element"><p></p></a>
  <a (click)="openModal(8)" id="eight_element"><p></p></a>
  <a (click)="openModal(9)" id="nine_element"><p></p></a>
  <a (click)="openModal(10)" id="ten_element"><p></p></a>
  <a (click)="openModal(11)" id="eleven_element"><p></p></a>
  <a (click)="openModal(12)" id="twenty_element"><p></p></a>
  <a (click)="openModal(13)" id="twnone_element"><p></p></a>
  <a (click)="openModal(14)" id="twtwo_element"><p></p></a>
  <a (click)="openModal(15)" id="twthree_element"><p></p></a>
  <a (click)="openModal(16)" id="twfourth_element"><p></p></a>
    </div>
</div>